.fashion-slider {
  width: 100%;
  padding: 140px 0;
  background: #f5f2ed;
  overflow: hidden;
  position: relative;
}

.fashion-header {
  text-align: center;
  margin-bottom: 80px;

  p {
    font-size: 12px;
    letter-spacing: 4px;
    color: #777;
    margin-bottom: 10px;
  }

  h2 {
    font-size: clamp(3rem, 6vw, 6rem);
    font-weight: 300;
    color: #111;
  }
}

.fashionSwiper {
  width: 100%;
  overflow: visible;
}

.swiper-slide {
  opacity: 0.4;
  transform: scale(0.82);
  transition: all 0.5s ease;
}

.swiper-slide-active {
  opacity: 1;
  transform: scale(1);
}

.slide-card {
  position: relative;
  height: 650px;
  border-radius: 40px;
  background: #ebe7df;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.shoe-bg {
  position: absolute;
  width: 320px;
  height: 320px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.6);
  filter: blur(10px);
}

.shoe-image {
  width: 90%;
  object-fit: contain;
  z-index: 2;

  transition: 0.5s ease;

  filter: drop-shadow(0 30px 30px rgba(0, 0, 0, 0.18));
}

.slide-card:hover .shoe-image {
  transform: translateY(-10px) scale(1.03);
}

.product-info {
  position: absolute;
  bottom: 40px;
  left: 40px;

  h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #111;
  }

  p {
    color: #666;
    margin-bottom: 12px;
    max-width: 250px;
    line-height: 1.5;
  }

  span {
    font-size: 1.2rem;
    font-weight: 700;
    color: #111;
  }
}

.slider-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;

  margin-top: 60px;

  button {
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: none;
    background: white;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);

    transition: 0.3s ease;
  }

  button:hover {
    transform: translateY(-5px);
  }
}

@media (max-width: 992px) {
  .slide-card {
    height: 550px;
  }
}

@media (max-width: 768px) {
  .fashion-slider {
    padding: 100px 0;
  }

  .fashion-header {
    margin-bottom: 50px;

    h2 {
      font-size: 3rem;
    }
  }

  .slide-card {
    height: 500px;
    border-radius: 30px;
  }

  .product-info {
    left: 25px;
    bottom: 25px;

    h3 {
      font-size: 1.2rem;
    }

    p {
      font-size: 0.9rem;
    }
  }
}