.pro { 
    position: absolute;
    right: 46%;

}

.img-1 { 
     width: 600px;
     height: 700px;
     object-fit: cover;

}

.img-2 { 
    width: 600px;
    height: 700px;
    object-fit: cover;
}

.pro-fe { 
   position: absolute;
    left: 85%;
    bottom: 20%;
}